
body{
    margin: 0;
}

header {
    width:100%;
    height:100vh;
    /* background-color: rgb(105, 70, 138); */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow:auto;
}

.header-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em 5em 0 5em;
}

.header-professional{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.box{
    padding:2em;
}

h1 {
    color: blue;
    font-family:American Typewriter, serif;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 0.5em;
    margin-block-start:0;
}

h2{
    color:blue;
    font-family:American Typewriter, serif;
    font-size: x-large; 
}
h3{
    color:blue;
    font-family:American Typewriter, serif;
    font-size: large; 
}
p{
    color:black;
    font-family:Courier New, monospace;
    word-spacing: 5px;
    line-height: 1.8em;
}

img {
    width:300px;
    height: 300px;
    border-radius: 50%;
    float: left;
    padding-right:1em; 
}

main {
    width:100%;
    height:100vh;
    background-color:rgb(177, 107, 242);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 0 1%; */
}
/* working from here */

footer{
    width: 100%;
    height:100vh;
    background-color:rgb(232, 224, 239)
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}