
body{
    margin: 0;
}

header {
    width:100%;
    height:100vh;
    background-color: rgb(105, 70, 138);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow:auto;
}

.header-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em 5em 0 5em;
}

.header-professional{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.box{
    padding:2em;
}

h1 {
    color: white;
    font-family:American Typewriter, serif;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 0.5em;
    margin-block-start:0;
}

h2{
    color:white;
    font-family:American Typewriter, serif;
    font-size: x-large; 
}
h3{
    color:white;
    font-family:American Typewriter, serif;
    font-size: large; 
}
p{
    color:white;
    font-family:Courier New, monospace;
    word-spacing: 0.5px;
    line-height: 1.5em;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    padding-right:1em;
}

main {
    width:100%;
    height:100vh;
    background-color:rgb(177, 107, 242);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top:1em;
    padding-bottom:1em;
    overflow:auto;
    
}

/* flex-box -- Grid start*/

.skills{
    display:grid;
    align-content: space-evenly;
    justify-content: center;
    align-items: start;
    justify-items:center;
}
.skill {
    /* grid-column-start: 1;
    grid-column-end: 4; */
}    
 .skill1 { 
    display: grid;
    justify-items: left;
    align-items: center;
    justify-content: center;
    align-content: left;
    padding-left: 1px; 
} 
 .skill2{
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
} 
 .skill3{
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
    padding-right: 1.5px;
} 
/* flex-box -- Grid end */

.skills h2 {
    color: white;
    padding-left: 0.25em;
    
}

.skill1 h3 {
    color: white;
    padding: .25em;
}

.skill2 h3 {
    color: white;
    padding: .25em;
}
.skill3 h3 {
    color: white;
    padding: .25em;
}

ul {
    align-items: left;
}

li {
    /font-size: large;
    color:white;
    padding: .2em; 
    font-family:Courier New, monospace;
}

/* Grid start*/
.educational-qualification{
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    align-items: start;
    justify-items: center;
}
.EQ {
    /* grid-column-start: 1;
    grid-column-end: 4; */
}
.box1{
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
    padding-left: 1px;
}
.box2{
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
}
.box3{
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
    padding-right: 1.5px;
}
/* Grid end */
.EQ h2 {
    color: white;
    padding-left: 0.25em;
}
.box1 h3 {
    color: white;
    padding: 0.25em;
}
.box2 h3 {
    color: white;
    padding: 0.25em;
}
.box3 h3 {
    color: white;
    padding: 0.25em;
}


footer{
    width: 100%;
    height:100vh;
    background-color:rgb(91, 59, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}